@font-face {
    font-family:'Source Serif bold';
    src: url(../fonts/SourceSerif4-Bold.ttf);
}
@font-face {
    font-family: 'Source Serif semibold';
    src: url(../fonts/SourceSerif4-Semibold.ttf);
}
@font-face {
    font-family:'Source Serif medium';
    src: url(../fonts/SourceSerif4-Medium.ttf);
}
@font-face {
    font-family:'Source Serif regular';
    src: url(../fonts/SourceSerif4-Regular.ttf);
}
@font-face {
    font-family:'Source Serif extrabold';
    src: url(../fonts/SourceSerif4-ExtraBold.ttf);
}
@font-face {
    font-family:'Source Serif black';
    src: url(../fonts/SourceSerif4-Black.ttf);
}
@font-face {
    font-family:'Source Serif light';
    src: url(../fonts/SourceSerif4-Light.ttf);
}
$blck:#190909;
$brwn:#21100F;
$lghtbrwn:#5A393A;
$pnk:#DB9D9A;
$snw:#E0CBC7;
%button-base {
    width:171px;
    height:59px;
    font-family: 'Source Serif medium';
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    background-color:$blck;
    border: none;
    transition: all 0.3s ease;
}
%button-base-hover{
    background-color:$snw;
    color:$blck;
    transition: all 0.3s ease;
}
*{
    margin: 0;
    padding: 0;
}
header{
    width: 1920px;
    height:1099px;
    background-color:$pnk;
    nav{
        width: 1920px;
        height: 100px;
        background-color:$brwn;
        display: flex;
            img{
                margin-left: 124px;
                margin-top: 10px;
            }
            div{
                margin-top: 38px;
                margin-left: 93px;
                display: flex;
                gap: 34px;
                font-family: 'Source Serif bold';
                font-size: 20px;
                line-height: 25px;
                color:$snw;
            }
            input{
                @extend %button-base;
                margin-left: 555px;
                margin-top: 21px;
                background-color: #E0CBC7;
                color: $blck;
            }
            input:hover{
                @extend %button-base-hover;
            }
    }
}
.container_1_content{
    display: flex;
    div{
        width: 654px;
        height: 391px;
        margin-top: 230px;
        margin-left:201px;
        h1{
            font-family:'Source Serif extrabold';
            font-style: normal;
            font-size: 75px;
            line-height: 86px;
            color:$blck;
        }
        p{
        margin-top: 35px;
        font-family: 'Source Serif bold';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 34px;
        letter-spacing: 0.01em;
        color: $blck;
        }
        input{
            margin-top:35px;
            @extend %button-base;
        }
        input:hover{
            @extend %button-base-hover;
        }
    }
    img{
        margin-left: 200px;
        margin-top: 150px;
    }
}
.container_2{
    width: 1920px;
    height:1598px;
    background-color:$pnk;
    padding-top: 129px;
    h1{
    margin-left: 600px;
    font-family: 'Source Serif black';
    font-size: 64px;
    line-height: 88px;
    color:$blck;
    }
}
.fotocert_line{
display: flex;
margin-left: 213px;
margin-top: 17px;
gap: 45px;
    div{
        width: 466px;
        height:651px;
        margin: 0;
        position: relative;
        z-index: 2;
        img{
            position: absolute;
            margin: 0;
            border-radius: 30px;
            position: absolute;
            z-index: 1;
            right: 30px;
        }
        .fotocert_block{
            position: absolute;
            bottom: 30px;
            width: 100%;
            height: 205px;
            background-color: $lghtbrwn;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        p{
    font-family: 'Source Serif bold';
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
        }
        input{
            @extend%button-base;
            margin-top: 35px;
        }
        input:hover{
            @extend%button-base-hover;
        }
    }
    
}
.fotocert_line2{
display: flex;
margin-left: 213px;
margin-top: 17px;
gap: 45px;
    div{
        width: 466px;
        height:651px;
        margin: 0;
        position: relative;
        z-index: 2;
        img{
            position: absolute;
            margin: 0;
            border-radius: 30px;
            position: absolute;
            z-index: 1;
            right: 30px;
        }
        .fotocert_block{
            position: absolute;
            bottom: 30px;
            width: 100%;
            height: 205px;
            background-color: $lghtbrwn;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        p{
    font-family: 'Source Serif bold';
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-top: 30px;
        }
        input{
            @extend%button-base;
            margin-top: 35px;
        }
        input:hover{
            @extend%button-base-hover;
        }
    }
    
}
.container_3{
    height:1000px;
    width:1920px;
    background-color:$pnk;
    .cont_3_h{
    font-family: 'Source Serif black';
    font-size: 59px;
    line-height: 74px;
    color:$blck;
    margin-left:796px;
    }
}
.container_3_line{
        width: 1488px;
        margin-left:213px;
        display: flex;
        margin-top: 32px;
        gap:45px;
        div{
            width: 466px;
            height: 497px;
            border-top-left-radius: 150px;
            background-color: $brwn;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        img{
            margin-top: 80px;
            margin-bottom: 40px;
        }
        h1{
            font-family: 'Source Serif regular';
            font-weight: 400;
            font-size: 40px;
            line-height: 34px;
            letter-spacing: 0.01em;
            color:$snw;
            margin-bottom: 40px;
        }
        p{
        font-family: 'Source Serif light';
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 29px;
        text-align: center;
        color:$pnk;
        margin-left: 45px;
        margin-right: 45px;

        }
    }
    .line_under{
        display: flex;
        width: 1400px;
        height: 158px;
        background-color: $lghtbrwn;
        margin-left: 213px;
        margin-top: 124px;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
        overflow: hidden;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;

            h1{
                font-family: 'Source Serif bold';
                font-weight: 700;
                font-size: 50px;
                line-height: 69px;
                color: $snw;
            }
            p{
                font-family: 'Source Serif light';
                font-weight: 300;
                font-size: 30px;
                line-height: 29px;
                color: $snw;
            }
        }
    }
    .container_4{
        background-color:$pnk;
        width:1920px;
        display: flex;
        img{
            margin-left:214px;
            margin-top:135px;
        }
        div{
            display: flex;
            flex-direction: column;
            margin-top:135px;
            height:820px;
            margin-left: 43px;
        h1{
            margin-top: 80px;
            font-family: 'Source Serif black';
            font-style: normal;
            font-weight: 900;
            font-size: 50px;
            line-height: 69px;
            color:$blck;
            margin-bottom:65px;
        }
        input[type="button"]{
            @extend%button-base;
            margin-top: 35px;
        }
        input[type="button"]:hover{
            @extend%button-base-hover;
        }
        input:not([type="file"]):not([type="button"]){
            outline: none;
            box-shadow: none;
            width:533px;
            height:74px;
            background-color: $blck;
            border: $snw,2px,solid;
            color: $snw;
            font-family: 'Source Serif regular';
            font-size: 24px;
            margin-bottom: 35px;
        }
        input::placeholder {
            font-family: 'Source Serif regular';
            font-size: 24px;
            text-indent: 20px;
            color:$snw;
        }
        input[type="file"]{
            color: transparent;
        }
        input[type="file"]::-webkit-file-upload-button {
            background-color:$blck;
            font-family: 'Source Serif regular';
            font-size: 24px;
            color: $snw;
            padding-right: 300px;
            border: $snw,2px,solid;
            border-radius: 0;
            cursor: pointer;
            width:533px;
            height:74px;
        }
        }
    }
    .container_5{
        width: 1920px;
        height: 470px;
        padding-top:96px;
        background-color: $pnk;
        h1{
            font-family: 'Source Serif black';
            font-style: normal;
            margin-left: 500px;
            margin-bottom:29px;
            font-weight: 900;
            font-size: 64px;
            line-height: 88px;
            color:$blck;
        }
        
    }
    .container_5_line{
        width:1483px;
        height:352px;
        margin-left:220px;
        display: flex;
        gap: 69px;
        div{
            width:319px;
            height:352px;
            background-color: $snw;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 30px;
            position: relative;
            .circle{
                position: absolute;
                width: 140px;
                height: 140px;
                border-radius: 50%;
                background-color:#d9d9d9;
                display: flex;
                align-items: center;
                justify-content: center;
                bottom: 250px;

                h1{
                font-family: 'Source Serif light';
                font-style: normal;
                font-weight: 300;
                font-size: 96px;
                line-height: 132px;
                color:$blck;
                margin: 0;
                margin-top:11px;
            }
            }
            h6{
                font-family: 'Source Serif regular';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 44px;
                letter-spacing: 0.01em;
                color:$blck;
                margin-bottom: 24px;
                margin-top: 130px;
                margin-left:0;
            }
            p{
                font-family: 'Source Serif light';
                font-style: normal;
                font-weight: 300;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #504D4D;
                margin-left:0;
                width: 239px;


            }
        }
    }
    .container_6{
        height: 788px;
        width: 1920px;
        background-color: $pnk;
        padding-top:107px;
        h1{
            margin-left: 451px;
            font-family: 'Source Serif black';
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 71px;
            letter-spacing: 0.02em;
            color: $blck;
            margin-bottom: 18px;

        }
    }
    .container_6_line{
        width: 1488px;
        height: 497px;
        margin-left: 213px;
        display: flex;
        gap:45px;
        div{
            width: 466px;
            height: 497px;
            background-color: $brwn;
            display: flex;
            flex-direction: column;
            align-items:start;
            justify-content: space-between;
            text-align: left;
        }
        img{
            margin-top: 80px;
            margin-bottom: 40px;
            margin-left: 45px;
        }
        .stars{
            margin: 0;
            margin-left: 50px;
        }
        h1{
            font-family: 'Source Serif regular';
            font-weight: 400;
            font-size: 40px;
            line-height: 34px;
            letter-spacing: 0.01em;
            color:$snw;
            margin-bottom: 40px;
            margin-left: 45px;
        }
        p{
        font-family: 'Source Serif light';
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 29px;
        text-align: left;
        color:$pnk;
        margin-left: 45px;
        margin-right:30px;
        }
        h3{
            font-family: 'Source Serif semibold';
            font-size: 24px;
            line-height: 41px;
            color:$snw;
            margin-left: 45px;
            margin-bottom: 40px;
        }
    }

    
    .container_7{
        height:1055px;
        width:1920px;
        display: flex;
        background-color: $pnk;
        div{
            display: flex;
            flex-direction: column;
            margin-left: 212px;
            width: 650px;
            height: 565px;
            justify-content: space-between;
        h1{
            font-family: 'Source Serif bold';
            font-style: normal;
            width: 800px;
            font-weight: 700;
            font-size: 48px;
            line-height: 50px;
            color: $blck;
            margin: 0;
        }
        p{
            font-family: 'Source Serif regular';
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 30px;
            letter-spacing: 0.02em;
            color: $blck; 
        }
        input[type="text"],[type="number"]{
            outline: none;
            box-shadow: none;
            width:626px;
            height:60px;
            background-color: $blck;
            border: $snw,2px,solid;
            color: $snw;
            font-family: 'Source Serif light';
            font-size: 24px;
            padding-left:20px;
        }
        select{
            padding-left:20px;
            outline: none;
            box-shadow: none;
            width:626px;
            height:60px;
            background-color: $blck;
            border: $snw,2px,solid;
            color: $snw;
            font-family: 'Source Serif light';
            font-size: 24px;
        }
        input[type="button"]{
            @extend%button-base;
        }
        input[type="button"]:hover{
            @extend%button-base-hover;
        }
    }
    img{
        width:791px;
        height: 722px;
        margin-left:45px;
    }
    }
    .container_8{
        width: 1920px;
        height: 1800px;
        background-color: $pnk;
        h1{
            font-family: 'Source Serif black';
            font-style: normal;
            font-weight: 900;
            font-size: 64px;
            line-height: 88px;
            color:$blck;
            margin-left: 800px;
        }
    }
    .container_8_line{
        width: 1488px;
        height: 666px;
        margin-left: 213px;
        display: flex;
        flex-wrap: wrap;
        gap:45px;
        margin-top:32px;
        margin-bottom: 132px;
        div{
            width: 466px;
            height: 665px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        img{
            margin-bottom: 36px;
            width: 467px;
            height:467px;
        }
        p{
            font-family: 'Source Serif regular';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 33px;
            text-align: center;
            letter-spacing: 0.02em;
            color: $blck;
            margin-bottom: 36px;

        }
        input[type="button"]{
            @extend%button-base;
        }
        input[type="button"]:hover{
            @extend%button-base-hover;
        }
    }
    .container_8_part2{
            display: flex;
            width: 1920px;
            height: 700px;
            margin-left: 202px;
    }
    .map{
        width:500px;
        height:750px;
    }
    .container_8_part2 div{
        width: 700px;
        height: 732px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            font-family: 'Source Serif black';
            font-style: normal;
            font-weight: 900;
            font-size: 50px;
            line-height: 69px;
            color:$blck;
            margin-bottom: 24px;
            margin-left: 0;
        }
        p{
            width: 474px;
            font-family: 'Source Serif regular';
            font-weight: 300;
            font-size: 20px;
            line-height: 29px;
            color: #504D4D;
        }
    }
    .container_9{
        height: 446px;
        width: 1920px;
        background-color: $pnk;
    }
    .block9{
        width: 1487px;
        height: 315px;
        background-color: $brwn;
        margin-left: 216px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
         border-radius: 20px;
        h1{
            font-family: 'Source Serif bold';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 49px;
            color:$snw;
            margin-left: 123px;
            margin-bottom: 45px;
        }
        div{
            display: flex;
        p{
            font-family: 'Source Serif light';
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            margin-left: 123px;
            color:$snw;
        }
        input[type="button"]{
            @extend%button-base;
            margin-left: 123px;
        }
        input[type="button"]:hover{
            @extend%button-base-hover;
        }
    }
    }
    footer{
        width: 1920px;
        height: 365px;
        background-color: $snw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 190px;
        p{
        font-family: 'Source Serif light';
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: #504D4D;
        margin-top: 24px;
        }
        h4{
        font-family: 'Source Serif semibold';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 33px;
        text-align: center;
        color: #000000;
        }
    }
    .footer_down{
        width: 1920px;
        height: 136px;
        background-color: $brwn;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            font-family: 'Source Serif light';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 29px;
            color: $snw;
        }
    }



    @media screen and (max-width: 600px) {
    *{
        max-width:390px;
    }
    header{
    position: relative;
    width:100vw;
    height:600px;
    background-color:$pnk;
    nav{
        width: 100vw;
        height: 300px;
        background-color:$brwn;
        display: flex;
        flex-direction: column;
            img{
                width:150px;
                height: 45px;
                margin-left: 20px;
                margin-right:20px;
                margin-top: 10px;
            }
            div{
                margin-top: 20px;
                margin-left: 15px;
                margin-right: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                font-family: 'Source Serif light';
                font-size: 15px;
                line-height: 25px;
                color:$snw;
            }
            input{
                position: absolute;
                @extend %button-base;
                right: 20px;
                top:-15px;
            }
            input:hover{
                @extend %button-base-hover;
            }
        }
    }
    .container_1_content{
    overflow: hidden;
    display: flex;
    height:800px;
    div{
        width: 100%;
        height: 391px;
        margin-top: 25px;
        margin-left:15px;

        h1{
            font-family:'Source Serif extrabold';
            font-style: normal;
            font-size: 36px;
            line-height: 37px;
            color:$blck;
        }
        p{
        margin-top: 35px;
        font-family: 'Source Serif bold';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 34px;
        letter-spacing: 0.01em;
        color: $blck;
        }
        input{
            position: absolute;
            margin-top:35px;
            left:40px;
            @extend %button-base;
            width:300px;
        }
        input:hover{
            @extend %button-base-hover;
        }
    }
    img{
        margin-left: 10px;
        margin-top: 100px;
        height:400px;
    }
    }



    .container_2{
    width: 100vw;
    height:2100px;
    background-color:$pnk;
    padding-top: 129px;
    h1{
    margin-left: 600px;
    font-family: 'Source Serif black';
    font-size: 64px;
    line-height: 88px;
    color:$blck;
    }
}
.fotocert_line{
display: flex;
flex-direction: column;
margin-left: 15px;
margin-top: 17px;
gap: 20px;
    div{
        width: 466px;
        height:570px;
        margin: 0;
        position: relative;
        z-index: 2;
        img{
            position: absolute;
            margin: 0;
            border-radius: 30px;
            position: absolute;
            z-index: 1;
            right: 30px;
        }
        .fotocert_block{
            position: absolute;
            bottom: 30px;
            width: 100%;
            height: 205px;
            background-color: $lghtbrwn;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        p{
    font-family: 'Source Serif bold';
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
        }
        input{
            @extend%button-base;
            margin-top: 35px;
        }
        input:hover{
            @extend%button-base-hover;
        }
    }
    
}
.fotocert_line2{
display:none;
}


.container_3{
    height:1000px;
    width:100vw;
    background-color:$pnk;
    overflow: hidden;
    .cont_3_h{
    font-family: 'Source Serif black';
    font-size: 50px;
    line-height: 74px;
    color:$blck;
    margin-left:15px;
    text-align: center;
    }
}
.container_3_line{
        width: 100vh;
        margin-left:10px;
        display: flex;
        margin-top: 32px;
        gap:10px;
        div{
            width: 117px;
            height: 497px;
            border-top-left-radius: 150px;
            background-color: $brwn;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        img{
            margin-top: 70px;
            margin-bottom: 15px;
            width:100px;
        }
        h1{
            font-family: 'Source Serif regular';
            font-weight: 400;
            font-size: 18px;
            line-height: 34px;
            letter-spacing: 0.01em;
            color:$snw;
            margin-bottom: 10px;
        }
        p{
        font-family: 'Source Serif light';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 29px;
        text-align: center;
        color:$pnk;
        margin-left: 45px;
        margin-right: 45px;

        }
    }
    .line_under{
        display: flex;
        width: 100vw;
        overflow: hidden;
        height: 158px;
        background-color: $lghtbrwn;
        margin-left:0px;
        margin-top: 124px;
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        overflow: hidden;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;

            h1{
                font-family: 'Source Serif bold';
                font-weight: 700;
                font-size: 35px;
                line-height: 69px;
                color: $snw;
            }
            p{
                font-family: 'Source Serif light';
                font-weight: 300;
                font-size: 20px;
                line-height: 29px;
                text-align: center;
                color: $snw;
            }
        }
    }


.container_4{
        background-color:$pnk;
        width:100vw;
        display: flex;
        position: relative;
        img{
            position: absolute;
            top: 250px;
            margin-left:0px;
            margin-top:90px;
            z-index:1;
            filter: blur(3);
        }
        div{
            z-index:2;
            display: flex;
            flex-direction: column;
            margin-top:75px;
            height:420px;
            margin-left: 15px;
            align-items: end;
        h1{
            margin-top: 80px;
            font-family: 'Source Serif black';
            font-style: normal;
            font-weight: 900;
            font-size: 36px;
            line-height: 69px;
            color:$blck;
            margin-bottom:20px;
            text-align: center
        }
        input[type="button"]{
            @extend%button-base;
            margin-top: 35px;
            margin-right: 20px;
        }
        input[type="button"]:hover{
            @extend%button-base-hover;
            

        }
        input:not([type="file"]):not([type="button"]){
            outline: none;
            box-shadow: none;
            width:300px;
            height:40px;
            background-color: $blck;
            border: $snw,2px,solid;
            color: $snw;
            font-family: 'Source Serif regular';
            font-size: 20px;
            margin-bottom: 20px;
            margin-right:20px;

        }
        input::placeholder {
            font-family: 'Source Serif regular';
            font-size: 24px;
            text-indent: 20px;
            color:$snw;
        }
        input[type="file"]{
            color: transparent;
        }
        input[type="file"]::-webkit-file-upload-button {
            background-color:$blck;
            font-family: 'Source Serif regular';
            font-size: 24px;
            color: $snw;
            border: $snw,2px,solid;
            border-radius: 0;
            cursor: pointer;
            width:300px;
            height:40px;
            margin-left:66px;
        }
        }
    }



.container_5{
        width: 100vw;
        height: 1000px;
        padding-top:296px;
        background-color: $pnk;
        h1{
            font-family: 'Source Serif black';
            font-style: normal;
            margin-left: 15px;
            margin-bottom:90px;
            font-weight: 900;
            font-size: 48px;
            line-height: 60px;
            color:$blck;
            text-align: center;
        }
        
    }
    .container_5_line{
        width:100vw;
        height:1500px;
        margin-left:35px;
        display: flex;
        flex-direction: column;
        gap: 89px;
        div{
            width:319px;
            height:352px;
            background-color: $snw;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 30px;
            position: relative;
            .circle{
                position: absolute;
                width: 140px;
                height: 140px;
                border-radius: 50%;
                background-color:#d9d9d9;
                display: flex;
                align-items: center;
                justify-content: center;
                bottom: 200px;

                h1{
                font-family: 'Source Serif light';
                font-style: normal;
                font-weight: 300;
                font-size: 96px;
                line-height: 132px;
                color:$blck;
                margin: 0;
                margin-top:11px;
            }
            }
            h6{
                font-family: 'Source Serif regular';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 44px;
                letter-spacing: 0.01em;
                color:$blck;
                margin-bottom: 24px;
                margin-top: 130px;
                margin-left:0;
            }
            p{
                font-family: 'Source Serif light';
                font-style: normal;
                font-weight: 300;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #504D4D;
                margin-left:0;
                width: 239px;


            }
        }
    }



    .container_6{
        height: 788px;
        width: 1920px;
        background-color: $pnk;
        padding-top:807px;
        h1{
            margin-left: 20px;
            font-family: 'Source Serif black';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 56px;
            letter-spacing: 0.02em;
            color: $blck;
            margin-bottom: 18px;
            text-align: center;

        }
    }
    .container_6_line{
        width: 100vw;
        height: 497px;
        margin-left: 20px;
        display: flex;
        gap:45px;
        flex-direction: column;
        div{
            width: 350px;
            height: 497px;
            background-color: $brwn;
            display: flex;
            flex-direction: column;
            align-items:start;
            justify-content: space-between;
            text-align: left;
        }
        img{
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 45px;
        }
        .stars{
            margin: 0;
            margin-left: 50px;
        }
        h1{
            font-family: 'Source Serif regular';
            font-weight: 400;
            font-size: 40px;
            line-height: 34px;
            letter-spacing: 0.01em;
            color:$snw;
            margin-bottom: 40px;
            margin-left: 45px;
        }
        p{
        font-family: 'Source Serif light';
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 29px;
        text-align: left;
        color:$pnk;
        margin-left: 45px;
        margin-right:30px;
        }
        h3{
            font-family: 'Source Serif semibold';
            font-size: 24px;
            line-height: 41px;
            color:$snw;
            margin-left: 45px;
            margin-bottom: 40px;
        }
    }

.container_7{
        height:700px;
        padding-top:1000px;
        width:100vw;
        display: flex;
        background-color: $pnk;
        div{
            display: flex;
            flex-direction: column;
            margin-left: 15px;
            width: 100vw;
            height: 565px;
            justify-content: space-between;
        h1{
            font-family: 'Source Serif bold';
            font-style: normal;
            width: 100vw;
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
            color: $blck;
            text-align: center;
            margin: 0;
            margin-left: -10px;
        }
        p{
            font-family: 'Source Serif regular';
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 30px;
            letter-spacing: 0.02em;
            color: $blck; 
            margin-left:15px;
        }
        input[type="text"],[type="number"]{
            outline: none;
            box-shadow: none;
            width:340px;
            height:60px;
            background-color: $blck;
            border: $snw,2px,solid;
            color: $snw;
            font-family: 'Source Serif light';
            font-size: 24px;
            padding-left:20px;
        }
        select{
            padding-left:20px;
            outline: none;
            box-shadow: none;
            width:360px;
            height:60px;
            background-color: $blck;
            border: $snw,2px,solid;
            color: $snw;
            font-family: 'Source Serif light';
            font-size: 24px;
        }
        input[type="button"]{
            @extend%button-base;
            margin-left:100px;
        }
        input[type="button"]:hover{
            @extend%button-base-hover;
        }
    }
    img{
        display: none;
    }
    }



    .container_8{
        width: 100vw;
        height: 2400px;
        background-color: $pnk;
        h1{
            font-family: 'Source Serif black';
            font-style: normal;
            font-weight: 900;
            font-size: 64px;
            line-height: 88px;
            color:$blck;
            margin-left: 15px;
        }
    }
    .container_8_line{
        width: 100vw;
        height: 1900px;
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
        gap:45px;
        margin-top:32px;
        margin-bottom: 132px;
        div{
            width: 370px;
            height: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        img{
            margin-bottom: 36px;
            width: 370px;
            height:467px;
        }
        p{
            font-family: 'Source Serif regular';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 33px;
            text-align: center;
            letter-spacing: 0.02em;
            color: $blck;
            margin-bottom: 36px;

        }
        input[type="button"]{
            @extend%button-base;
        }
        input[type="button"]:hover{
            @extend%button-base-hover;
        }
    }
    .container_8_part2{
            display: flex;
            flex-direction: column;
            gap:30px;
            width: 100vw;
            height: 1000px;
            margin-left: 15px;
    }


    .container_8_part2 div{
        width: 100vw;
        height: 732px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            font-family: 'Source Serif black';
            font-style: normal;
            font-weight: 900;
            font-size: 50px;
            line-height: 69px;
            color:$blck;
            margin-bottom: 24px;
            margin-left: 0;
        }
        p{
            width: 474px;
            font-family: 'Source Serif regular';
            font-weight: 300;
            font-size: 20px;
            line-height: 29px;
            color: #504D4D;
        }
    }
    .map{
        width:300px;
        height:150px;
        margin-left: -15px;
    }


    .container_9{
        height: 446px;
        width: 100vw;
        padding-top:800px;
        background-color: $pnk;
    }
    .block9{
        width: 360px;
        height: 315px;
        background-color: $brwn;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
         border-radius: 20px;
        h1{
            font-family: 'Source Serif bold';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 49px;
            color:$snw;
            margin-left: 15px;
            margin-bottom: 15px;
        }
        div{
            display: flex;
            flex-direction: column;
        p{
            font-family: 'Source Serif light';
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            margin-left: 15px;
            color:$snw;
            text-align: center;
        }
        input[type="button"]{
            @extend%button-base;
            margin-left:100px;
            margin-top: 15px;
        }
        input[type="button"]:hover{
            @extend%button-base-hover;
        }
    }
    }
    footer{
        width: 100vw;
        height: 365px;
        background-color: $snw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        p{
        font-family: 'Source Serif light';
        font-weight: 300;
        font-size: 10px;
        line-height: 30px;
        color: #504D4D;
        margin-top: 5px;
        }
        h4{
        font-family: 'Source Serif semibold';
        font-style: normal;
        font-weight: 200;
        font-size: 10px;
        line-height: 10px;
        text-align: center;
        color: #000000;
        }
    }
    .footer_down{
        width: 100vw;
        height: 136px;
        background-color: $brwn;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            font-family: 'Source Serif light';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 29px;
            color: $snw;
        }
    }
    .black_logo{
        width:100px;
    }
}